.bk-about-content {
	gap: 30px;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bk-about-text {
	width: 100%;
	max-width: 1052px;
	.bk-about-wrap {
		gap: 30px 60px;
		@media #{$xl} {
			gap: 30px 20px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			flex-wrap: wrap;
		}
		.bk-sec-title .sec_title {
			font-size: 40px;
		}
	}
	.ab-img1 {
		overflow: hidden;
		max-width: 448px;
		border-radius: 12px;
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 100%;
			max-height: 397px;
		}
	}
	.ab-text1 {
		max-width: 545px;
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 100%;
		}
	}
}
.bk-about-count {
	gap: 30px;
	max-width: 972px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bk-ab-count-item {
	width: 100%;
	max-width: 448px;
	padding-top: 25px;
	border-top: 1px solid #0000001A; 
	h3 {
		color: #004040;
		line-height: 1;
		font-size: 60px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	p {
		font-size: 18px;
		font-weight: 600;
		font-family: var(--bk-heading);
	}
}
.bk-about-img {
	max-width: 448px;
	overflow: hidden;
	border-radius: 12px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		max-height: 595px;
	}
}