.bk-blog-sec {
	background-color: #FFFFFF;
}
.bk-blog-top {
	.bk-sec-title {
		gap: 15px 30px;
	}
	.title_desc {
		margin-top: -15px;
		max-width: 1032px;
		.sec_title {
			font-size: 100px;
			@media #{$xl} {
				font-size: 90px;
			}
			@media #{$lg} {
				font-size: 80px;
			}
			@media #{$md} {
				font-size: 70px;
			}
			@media #{$sm} {
				font-size: 65px;
			}
			@media #{$xs} {
				font-size: 55px;
			}
			@media #{$xxs} {
				font-size: 45px;
			}
			@media #{$xxxs} {
				font-size: 35px;
			}
		}
	}
}
.bk-blog-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.bk-blog-item {
	.item-img {
		overflow: hidden;
		border-radius: 12px;
		margin-bottom: 25px;
	}
	.item-text {
		span {
			font-size: 16px;
			margin-bottom: 8px;
		}
		.blog_title {
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 16px;
			padding-bottom: 10px;
			border-bottom: 1px solid #EFE5DC;
		}
		p {
			padding-bottom: 25px;
		}
		.read_more {
			color: #000000;
			font-size: 20px;
			font-weight: 700;
			font-family: var(--bk-heading);
		}
	}
}