.bk-facilites-sec {
	margin-left: 60px;
	margin-right: 60px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-left: 15px;
		margin-right: 15px;
	}
	.bk-fc-bg {
		overflow: hidden;
		padding-top: 120px;
		border-radius: 32px;
		padding-bottom: 320px;
	}
}
.bk-facilites-content {
	@media #{$xxl,$xl} {
		gap: 30px;
		padding-left: 15px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
		padding-left: 15px;
	}
}
.bk-facilites-text {
	max-width: 504px;
	.bk-sec-title {
		.subtitle {
			color: #FFFFFF;
			i {
				border-top: 6px solid transparent;
				border-left: 8px solid #fff;
				border-bottom: 6px solid transparent;
			}
			&:before,
			&:after {
				background-color: #fff;
			}
		}
		.sec_title {
			color: #fff;
			max-width: 450px;
		}
		p {
			color: #fff;
			@media #{$xl} {
				max-width: 450px;
			}
		}
	}
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}
.bk-facilites-card-wrap {
	width: 100%;
	max-width: 900px;
}
.bk-facilites-card-wrap {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}
.bk-facilites-card {
	z-index: 1;
	overflow: hidden;
	position: relative;
	border-radius: 24px;
	position: relative;
	padding: 65px 40px 44px;
	background-color: #191919;
	border: 1px solid #1F1F1F;
	transition: all 300ms ease-in-out;
	&:after {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0%;
		z-index: -2;
		content: '';
		position: absolute;
		background-color: #fff;
		border-radius: 24px;
		transform-origin: bottom;
		transition: all 300ms ease-in-out;
	}
	@media #{$xxs} {
		padding: 50px 15px 44px;
	}
	&:before {
		right: 0;
		top: -90%;
		left: -10%;
		z-index: -1;
		content: '';
		width: 520px;
		height: 520px;
		position: absolute;
		border-radius: 100%;
		background-color: #1F1F1F;
		transition: all 300ms ease-in-out;
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			left: 0;
			right: 0;
			width: 100%; 
			margin: 0 auto;
		}
	}
	.item-icon {
		width: 140px;
		height: 140px;
		margin: 0 auto;
		margin-bottom: 52px;
		border-radius: 100%;
		background-color: #1F1F1F;
		border: 10px solid #181818;
		transform-origin: top center;
		transition: all 300ms ease-in-out;
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 28px;
			font-weight: 700;
			padding-bottom: 18px;
			transition: all 300ms ease-in-out;
		}
		p {
			color: #fff;
			transition: all 300ms ease-in-out;
		}
	}
	&:hover {
		&:after {
			height: 100%;
		}
		&:before {
			background-color: #F7F6F2;
			transition-delay: 100ms;
		}
		.item-text {
			h3 {
				color: #000000;
			}
			p {
				color: #272727
			}
		}
		.item-icon {
			border: 10px solid#FFFFFF;
			animation: swing 2s ease infinite;
			background-color: var(--bk-prime-c);
		}
	}
}