.bk-hero-text {
	margin: 0 auto;
	max-width: 1030px;
	padding-top: 275px;
	@media #{$md,$sm,$xs} {
		padding-top: 180px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@media #{$xxs} {
		padding-top: 150px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.hero-slug {
		color: #004040;
		padding-right: 50px;
		padding-left: 50px;
		position: relative;
		display: inline-block;
		i {
			top: 6px;
			left: -5px;
			position: absolute;
			border-top: 6px solid transparent;
			border-left: 8px solid #004040;
			border-bottom: 6px solid transparent;
			&:last-child {
				left: auto;
				right: -5px;
				transform: rotate(-180deg);
			}
		}
		&:before,
		&:after {
			left: 0;
			top: 12px;
			width: 40px;
			height: 1px;
			content: '';
			position: absolute;
			background-color: #004040;
		}
		&:after {
			right: 0;
			left: auto;
		}
	}
	.hero_title {
		font-size: 80px;
		font-weight: 700;
		line-height: 1.1;
		padding-top: 24px;
		padding-bottom: 40px;
		@media #{$sm} {
			font-size: 65px;
		}
		@media #{$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 40px;
			padding-bottom: 25px;
		}
		@media #{$xxxs} {
			font-size: 36px;
		}
	}
	.btn-wrap {
		gap: 12px;
		a {
			font-weight: 500;
			padding: 12px 22px;
			border-radius: 12px;
			border: 1px solid #000000;
			&:last-child {
				color: #fff;
				background-color: var(--bk-prime-c);
				border: 1px solid var(--bk-prime-c);
			}
		}
	}
}

.bk-hero-filter {
	z-index: 1;
	padding-top: 180px;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 130px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: relative;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}

.bk-filter-area {
	padding: 32px;
	margin: 0 auto;
	max-width: 1310px;
	border-radius: 100px;
	margin-bottom: 280px;
	border: 0.9px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(15.02777862548828px);
	@media #{$md,$sm,$xs,$xxs} {
		border-radius: 15px;
		margin-bottom: 150px;
	}
	@media #{$xxs} {
		padding: 15px;
	}
	form {
		gap: 8px;
		display: flex;
		flex-wrap: wrap;
	}
	.item-field {
		position: relative;
		border-radius: 32px;
		border: 1px solid transparent;
		@media #{$xxs} {
			width: 100%;
		}
		i {
			top: 18px;
			right: 18px;
			color: #FFFFFF;
			position: absolute;
		}
		input,select {
			width: 263px;
			height: 54px;
			border: none;
			color: #fff;
			appearance: none;
			outline: none;
			border: 0.9px solid rgba(255, 255, 255, 0.3);
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(20px);
			border-radius: 32px; 
			padding-left: 20px;
			color: #fff;
			@media #{$xxs} {
				width: 100%;
			}
			&::placeholder {
				color: #FFFFFF;
			}
		}
	}
	button {
		height: 54px;
		border: none;
		color: #000000;
		font-size: 16px;
		margin-left: 16px;
		font-weight: 500;
		padding: 0px 20px;
		border-radius: 32px;
		white-space: nowrap;
		background-color: #fff;
		@media #{$md,$sm,$xs,$xxs} {
			margin-left: 0;
		}
	}
}
.bk-hero-bottom {
	gap: 30px;
	padding: 0px 40px 40px;
	@media #{$md,$sm,$xs,$xxs} {
		padding: 15px;
	}
	.item-desc {
		width: 100%;
		font-size: 20px;
		color: #FFFFFF;
		max-width: 447px;
	}
	.item-play {
		gap: 20px;
		padding: 30px 24px;
		border-radius: 12px;
		background: #FFFFFF33;
		backdrop-filter: blur(15px);
		background-blend-mode: overlay;
		border: 0.9px solid rgba(255, 255, 255, 0.3);
		.item-icon {
			a {
				width: 75px;
				height: 75px;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				border: 1px solid #FFFFFF;
				i {
					width: 60px;
					height: 60px;
					display: flex;
					align-items: center;
					border-radius: 100%;
					background-color: #fff;
					justify-content: center;
					color: var(--bk-prime-c);
				}
			}
		}
		.item-text {
			color: #fff;
			font-size: 18px;
			max-width: 225px;
		}
	}
}