.bk-offer-top {
	gap: 15px 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.bk-sec-title {
		.subtitle {
			margin-bottom: 10px;
		}
		.sec_title {
			font-size: 100px;
			@media #{$xl} {
				font-size: 90px;
			}
			@media #{$lg} {
				font-size: 80px;
			}
			@media #{$md} {
				font-size: 70px;
			}
			@media #{$sm} {
				font-size: 65px;
			}
			@media #{$xs} {
				font-size: 55px;
			}
			@media #{$xxs} {
				font-size: 45px;
			}
			@media #{$xxxs} {
				font-size: 35px;
			}
		}
	}
	.item-desc {
		max-width: 436px;
	}
}
.bk-offer-content {
	gap: 40px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bk-offer-item-wrap {
	max-width: 600px;
	.accordion-item,
	.accordion-button {
		background-color: transparent;
		transition: all 200ms ease-in-out;
	}
	.accordion-item {
		border: none;
		border-radius: 0;
		position: relative;
		margin-bottom: 45px;
		transition: all 200ms ease-in-out;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.accordion-button {
		padding: 0;
		border: none;
		font-size: 44px;
		margin: 0 auto;
		font-weight: 600;
		position: relative;
		letter-spacing: -1px;
		color: rgba(0, 0, 0, .60);
		@media #{$xxs} {
			font-size: 36px;
		}
	}

	.accordion-button:focus {
		box-shadow: none;
	}
	.accordion-body {
		padding: 0;
		color: #535862;
		font-size: 18px;
		padding: 16px 0px;
		line-height: 1.667;
		transition: all 500ms ease-in-out;
		ul {
			gap: 0px 30px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				width: 45%;
				padding-left: 28px;
				position: relative;
				margin-bottom: 8px;
				@media #{$xs,$xxs} {
					width: 100%;
				}
				&:before { 
					top: 0;
					left: 0;
					content: '\f058';
					font-weight: 400;
					position: absolute;
					font-family: 'Font Awesome 5 Free';
				}
			}
		}
		h3 {
			line-height: 1;
			font-size: 44px;
			font-weight: 600;
			letter-spacing: -1px;
			color: var(--bk-prime-c);
			@media #{$xxs} {
				font-size: 36px;
			}
			span {
				font-size: 32px;
				position: relative;
				color: var(--bk-prime-c);
				&:before {
					top: 65%;
					left: 0;
					width: 100%;
					height: 2px;
					content: '';
					position: absolute;
					transform: translateY(-50%);
					background-color: var(--bk-prime-c);
				}
			}
		}
	}
	.accordion-button::after {
		display: none;
	}
	.accordion-button:not(.collapsed) { 
		box-shadow: none;
		color: rgba(0, 0, 0, 1);
	}
}
.bk-offer-img {
	.item-img {
		overflow: hidden;
		border-radius: 12px;
	} 
}