.bk-rooms-sec {
	background-color: #F7F6F2;
	.bk-sec-title {
		margin: 0 auto;
		max-width: 670px;
	}
}
.bk-rooms-marque {
	display: flow-root;
}
.bk-rooms-img1 {
	margin: 0px 8px;
	display: inline-block;
	img {
		border-radius: 12px;
	}
}