.bk-service-sec {
	.bk-service-content {
		margin-top: -200px;
	}
}
.bk-service-content {
	overflow: hidden;
	border-radius: 32px;
	padding: 100px 60px;
	background-color: #fff;
	@media #{$md,$sm,$xs,$xxs} {
		padding: 100px 20px;
	}
	.bk-sec-title {
		margin: 0 auto;
		max-width: 505px;
	}
}
@keyframes hover_appear {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.bk-service-item {
	padding: 12px;
	border-radius: 12px;
	background-color: #F7F6F2;
	.item-img {
		overflow: hidden;
		border-radius: 12px;
		margin-bottom: 12px;
		position: relative;
		img {
			transition: all 500ms ease-in-out;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			content: "";
			width: 0;
			height: 0;
			background: rgba(255, 255, 255, 0.2);
			border-radius: 12px;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			opacity: 0;
			z-index: 10;
		}
	}
	.item-text {
		border-radius: 20px;
		background-color: #fff;
		padding: 16px 20px 10px;
		transition: all 300ms ease-in-out;
		h3 {
			font-size: 28px;
			font-weight: 700;
			@media #{$xxs} {
				font-size: 24px ;
			}
			a {
				transition: all 300ms ease-in-out;
			}
		}
		span {
			color: #004040;
			transition: all 300ms ease-in-out;
		}
		.inner-title {
			margin-bottom: 18px;
			padding-bottom: 14px;
			border-bottom: 1px solid rgba(39, 39, 39, .2);
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0px 8px;
			justify-content: space-between;
			@media #{$xxs} {
				gap: 0px 15px;
			}
			li {
				width: 50%;
				font-size: 16px;
				margin-bottom: 15px;
				transition: all 300ms ease-in-out;
				@media #{$xxs} {
					width: auto;
				}
				&:nth-child(even) {
					text-align: right;
					@media #{$xxs} {
						text-align: left;
					}
				}
				i {
					margin-right: 8px;
				}
			}
		}
	}
	&:hover {
		.item-img {
			&:before {
				animation: hover_appear 0.75s;
			}
			img {
				transform: scale(1.1);
			}
		}
		.item-text {
			background-color: var(--bk-prime-c);
			h3 {
				a {
					color: #fff; 
				}
			}
			span {
				color: #fff;
			}
			ul {
				li {
					color: #fff;
				}
			}
		}
	}
}

.bk-service-nav {
	gap: 24px;
	.lg-ser-pagi {
		width: auto;
		display: flex;
		color: #000000;
		line-height: 1;
		font-size: 60px;
		max-width: 200px;
		font-weight: 700;
		font-family: var(--bk-heading);
		@media #{$xs} {
			font-size: 40px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
	}
	.lg-ser-scrollbar {
		width: 100%;
		height: 2px;
		max-width: 1146px;
		background-color: #F7F6F2;
		.swiper-scrollbar-drag {
			top: -2px;
			height: 6px;
			border-radius: 0;
			background-color: var(--bk-prime-c);
		}
	}
	.lg-ser-prev,
	.lg-ser-next {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		color: var(--bk-prime-c);
		transition: all 300ms ease-in-out;
		border: 1px solid var(--bk-prime-c);
		@media #{$xxs} {
			width: 40px;
			height: 40px;
		}
		&:hover {
			color: #fff;
			background-color: var(--bk-prime-c);
		}
	}
}