.bk-ab3-sec {
	background-color: #fff;
}
.bk-ab3-content {
	gap: 40px;
	display: flex;
	justify-content: space-between;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bk-ab3-text-wrap {
	max-width: 952px;
	.sec_title {
		font-size: 48px;
		@media #{$md} {
			font-size: 42px;
		}
		@media #{$sm} {
			font-size: 38px;
		}
		@media #{$xs} {
			font-size: 36px;
		}
		@media #{$xxs} {
			font-size: 32px;
		}
		@media #{$xxxs} {
			font-size: 30px;
		}
	}
	.bk-ab3-title {
		gap: 10px 40px;
		@media #{$md,$sm,$xs,$xxs} {
			flex-wrap: wrap;
		}
		p {
			margin-top: 0;
		}
		.item-desc {
			max-width: 636px;
		}
	}
}
.bk-ab3-ft-wrap {
	gap: 24px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.bk-ab3-ft-item {
	width: 100%;
	padding: 30px;
	max-width: 348px;
	position: relative;
	border-radius: 20px;
	background-color: #F7F6F2;
	@media #{$sm,$xs,$xxs} {
		max-width: 100%;
	}
	&:before {
		top: 32px;
		right: 32px;
		width: 22px;
		height: 22px;
		content: '';
		position: absolute;
		background-color: var(--bk-prime-c);
		clip-path: polygon( 0% 0%,100% 0%,100% 100%,0% 0% );
	}
	.b-title {
		color: #1C1C1D;
		font-size: 18px;
		font-weight: 500;
		padding-left: 24px;
		position: relative;
		&:before {
			left: 0;
			top: 7px;
			width: 12px;
			content: '';
			height: 12px;
			border-radius: 4px;
			position: absolute;
			background-color: var(--bk-prime-c);
		}
	}
	.item-text {
		margin-top: 105px;
		h3 {
			line-height: 1;
			font-size: 60px;
			font-weight: 700;
			margin-bottom: 12px;
		}
	}
	&:is(.ver_2) {
		&:before {
			background-color: #fff;
		}
		.b-title {
			color: #fff;
			&:before {
				background-color: #fff;
			}
		}
		.item-text {
			h3 {
				color: #fff;
			}
			p {
				color: #fff;
			}
		}
	}
}
.bk-ab3-img-wrap {
	max-width: 528px;
	overflow: hidden;
	border-radius: 20px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		height: 400px;
		max-width: 100%;
	}
}