.bk-sec-bg-wrap {
	z-index: 1;
	background-color: #000000;
	.bk-shape2-bg {
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}
.bk-facility3-sec {
	
	.bk-shape1-bg {
		left: 0;
		top: 0;
		z-index: -1;
	}
	.bk-sec-title {
		max-width: 652px;
		.subtitle {
			color: #fff;
			&:before,
			&:after {
				background-color: #fff;
			}
			i {
				border-top: 6px solid transparent;
				border-left: 8px solid #fff;
				border-bottom: 6px solid transparent;
			}
		}
		.sec_title {
			color: #fff;
			font-size: 60px;
			@media #{$md} {
				font-size: 38px;
			}
			@media #{$sm} {
				font-size: 36px;
			}
			@media #{$xs} {
				font-size: 34px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
			}
		}
		p {
			color: #fff;
			max-width: 550px;
		}
	}
}

.bk-facility3-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media #{$lg,$md,$sm} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}
.bk-facility3-item {
	z-index: 1;
	overflow: hidden;
	position: relative;
	border-radius: 24px;
	background-color: #fff;
	padding: 40px 20px 35px;
	&:nth-child(1) {
		z-index: 4;
	}
	&:nth-child(2) {
		z-index: 3;
	}
	&:nth-child(3) {
		z-index: 2;
	}
	&:nth-child(4) {
		z-index: 1;
	}
	&:before {
		right: 0;
		top: -164%;
		left: -43%;
		z-index: -1;
		content: "";
		width: 682px;
		height: 682px;
		position: absolute;
		border-radius: 100%;
		background-color: #F7F6F2;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			left: 0;
			right: 0;
			width: 100%; 
			margin: 0 auto;
		}
	}
	&:nth-child(even) {
		background-color: #EFE5DC;
	}
	.item-icon {
		width: 96px;
		height: 96px;
		margin: 0 auto;
		margin-bottom: 38px;
		border-radius: 100%;
		border: 8px solid #fff;
		background-color: var(--bk-prime-c);
	}
	.item-text {
		h3 {
			font-size: 28px;
			font-weight: 700;
			padding-bottom: 15px;
		}
		p {
			font-size: 17px;
		}
	}
}

.bk-fact-top {
	gap: 30px 30px;
	h3 {
		color: #fff;
		font-size: 60px;
		font-weight: 700;
		@media #{$md} {
			font-size: 38px;
		}
		@media #{$sm} {
			font-size: 36px;
		}
		@media #{$xs} {
			font-size: 34px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 28px;
		}
	}
}

.bk-fact-item {
	gap: 15px 30px;
	padding: 40px 0px;
	border-bottom: 1px solid  rgba(239, 229, 220, .15);
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	@media #{$xs,$xxs} {
		justify-content: center !important;
	}
	&:last-child {
		border: none;
		padding-bottom: 0;
	}
	p {
		color: #F7F6F2;
		max-width: 307px;
	}
	.item-img {
		width: 100%;
		max-width: 378px;
		overflow: hidden;
		border-radius: 12px;
		@media #{$lg} {
			max-width: 300px;
		}
	}
	.item-text {
		padding-right: 15px;
		h3 {
			color: #fff;
			line-height: 1;
			font-size: 180px;
			font-weight: 300;
			white-space: nowrap;
			letter-spacing: -10px;
			@media #{$lg,$md} {
				font-size: 120px;
			}
			@media #{$xxs} {
				font-size: 100px;
			}
		}
		sub {
			left: 15px;
			bottom: -80px;
			color: #F7F6F2;
			font-size: 18px;
		}
	}
}