.bk-food-sec {
	background-color: #F7F6F2;
}

.bk-food-slider {
	width: 123%;
	margin-left: -220px;
	@media #{$md,$sm,$xs,$xxs} {
		width: 100%;
		margin-left: 0;
	}
}

.bk-food-item {
	z-index: 1;
	position: relative;
	padding: 0px 15px 32px;
	&:before {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		content: '';
		z-index: -1;
		height: 80%;
		position: absolute;
		border-radius: 16px;
		background-color: #fff;
	}
	.item-img-price {
		width: 200px;
		height: 200px;
		margin: 0 auto;
		margin-bottom: 25px;
		border-radius: 100%;
	}
	.inner-img {
		z-index: 1;
		width: 200px;
		height: 200px;
		position: relative;
		overflow: hidden;
		border-radius: 100%;
		border: 10px solid #F7F6F2;
		img {
			transition: all 500ms ease-in-out;
		}
		&:before {
			position: absolute;
			height: 0;
			width: 0;
			top: 50%;
			left: 50%;
			content: "";
			padding-top: 0px;
			background-color: rgba(11, 11, 11, 0.4);
			text-align: center;
			border-radius: 100%;
			opacity: 0;
			z-index: 3;
			-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		&:after {
			position: absolute;
			content: "";
			height: 0;
			width: 0;
			top: 50%;
			left: 50%;
			z-index: 1;
			padding-top: 0px;
			border-radius: 100%;
			background-color: rgba(11, 11, 11, 0.4);
			text-align: center;
			opacity: 0;
			z-index: 4;
			-webkit-transition: all 1.5s ease;
			-o-transition: all 1.5s ease;
			transition: all 1.5s ease;
		}
	}
	.inner-price {
		left: 0;
		right: 0;
		top: -100px;
		color: #fff;
		width: 100px;
		height: 100px;
		z-index: 2;
		display: flex;
		font-size: 32px;
		margin: 0 auto;
		align-items: end;
		font-weight: 700;
		position: absolute;
		border-radius: 100%;
		padding-bottom: 8px;
		justify-content: center;
		background-color: #004040;
		font-family: var(--bk-heading);
		transition: all 500ms ease-in-out;
	}
	.item-text {
		margin: 0 auto;
		max-width: 308px;
		h3 {
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 8px;
			&:hover {
				color: var(--bk-prime-c);
			}
		}
		p {
			padding-bottom: 30px;
		}
		.more_arrow {
			width: 50px;
			height: 50px;
			margin: 0 auto;
			border-radius: 100%;
			transform: rotate(-45deg);
			border: 1px solid #EFE5DC;
			&:hover {
				color: #fff;
				border: 1px solid var(--bk-prime-c);
				background-color: var(--bk-prime-c);
			}
		}
	}
	&:hover {
		.inner-img {
			&:before {
				opacity: 1;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
			&:after {
				opacity: 1;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
			img {
				transform: scale(1.1);
			}
		}
		.inner-price {
			top: -50px;
		}
	}
}