.bk-gallery-sec {
	z-index: 1;
	padding-top: 240px;
	padding-bottom: 132px;
	background-attachment: fixed;
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		height: 100%;
		z-index: -1;
		position: absolute;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.32) 34.53%, rgba(0, 0, 0, 0.12) 100%);
	}
}
.bk-gallery-content {
	gap: 40px 140px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 40px 30px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.bk-gallery-text {
	max-width: 435px;
	.bk-sec-title {
		.subtitle {
			color: #fff;
			&:before,
			&:after {
				background-color: #fff;
			}
			i {
				border-top: 6px solid transparent;
				border-left: 8px solid #fff;
				border-bottom: 6px solid transparent;
			}
		}
		.sec_title {
			color: #fff;
			font-size: 80px;
			@media #{$md} {
				font-size: 38px;
			}
			@media #{$sm} {
				font-size: 36px;
			}
			@media #{$xs} {
				font-size: 34px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
			}
		}
	}
	.btn-wrap {
		gap: 12px;
		a {
			color: #fff;
			font-weight: 500;
			padding: 12px 22px;
			border-radius: 12px;
			border: 1px solid #fff;
			@media #{$xxs} {
				padding: 10px 20px;
			}
			&:last-child {
				color: #fff;
				background-color: var(--bk-prime-c);
				border: 1px solid var(--bk-prime-c);
			}
			&:hover {
				color: #000;
				background-color: #fff;
				border: 1px solid #fff;
			}
		}
	}
}

.bk-gallery-slide-area {
	width: 100%;
	max-width: 1145px;
	margin-right: -155px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-right: 0;
	}
}

.bk-gallery-item {
	.item-img {
		overflow: hidden;
		border-radius: 16px;
		a {
			width: 100%;
			height: 100%;
		}
	}
}
.bk-gl-nav {
	display: flex;
	margin-top: 48px;
	.bk-gl-prev,
	.bk-gl-next {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background-color: #fff;
		transition: all 300ms ease-in-out;
		&:hover {
			color: #fff;
			background-color: var(--bk-prime-c);
		}
	}
}