.bk-project3-sec {
	background-color: #004040;
}

.bk-pr3-pagi {
	right: 60px;
	z-index: 3;
	position: absolute;
	left: auto !important;
	top: 55%  !important;
	width: auto !important;
	transform: translateY(-50%) !important;
	@media #{$sm,$xs,$xxs} {
		right: 0;
		display: flex;
		position: relative;
		justify-content: center;
		transform: translateY(-70%) !important;
	}
	.swiper-pagination-bullet {
		opacity: 1;
		width: 48px;
		color: #fff;
		height: 48px;
		display: flex;
		font-size: 18px;
		font-weight: 500;
		align-items: center;
		justify-content: center;
		border: 1px solid #FFFFFF;
		background-color: transparent;
		margin-bottom: 18px !important;
		transition: all 500ms ease-in-out;
		&:is(.swiper-pagination-bullet-active) {
			color: #fff;
			background-color: var(--bk-prime-c);
			border: 1px solid var(--bk-prime-c);
		}
	}
}

.bk-project3-item {
	width: 65%;
	@media #{$md} {
		width: 75%;
	}
	@media #{$sm,$xs,$xxs} {
		width: 100%;
		padding: 120px 0px;
	}
	.item-img {
		width: 77%;
		height: 1018px;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.item-card-wrap {
		top: 50%;
		right: 30px;
		width: 100%;
		max-width: 504px;
		border-radius: 24px;
		position: absolute;
		background-color: #fff;
		padding: 32px 32px 40px;
		transform: translateY(-50%);
		@media #{$sm,$xs,$xxs} {
			margin: 0 auto;
			position: static;
			transform: translateY(0);
		}
		@media #{$md} {
			right: 0;
		}
		.item-icon {
			z-index: 1;
			width: 96px;
			height: 96px;
			margin: 0 auto;
			position: relative;
			border-radius: 100%;
			border: 8px solid #FFFFFF;
			background-color: #000000;
		}
		.inner-img {
			height: 302px;
			overflow: hidden;
			margin-top: -48px;
			border-radius: 24px;
			margin-bottom: 24px;
		}
		.item-text {
			span {
				color: #004040;
				padding-bottom: 5px;
			}
			h3 {
				font-size: 32px;
				font-weight: 700;
				padding-bottom: 8px;
			}
			p {
				opacity: .8;
				padding-bottom: 28px;
			}
			.bk-btn1 {
				a {
					position: relative;
					&:before {
						left: 0;
						bottom: -5px;
						width: 100%;
						content: "";
						height: 100%;
						position: absolute;
						border-radius: 10px;
						border-bottom: 1px solid var(--bk-prime-c);
					}
				}
			}
		}
	}
}