.bk-footer1-sponsor {
	background-color: var(--bk-prime-c);
}

.bk-ft-spon-wrap {
	width: 100%;
	max-width: 1140px;
	position: relative;
	padding: 70px 0px;
	&:before,
	&:after {
		top: 0;
		left: 0;
		z-index: 2;
		width: 200px;
		content: '';
		height: 100%;
		position: absolute;
		@media #{$xs,$xxs} {
			display: none;
		}
	}
	&:before {
		background: linear-gradient(90deg, #C29D68 1.53%, rgba(194, 157, 104, 0.95) 50.59%, rgba(194, 157, 104, 0.8) 74.35%, rgba(194, 157, 104, 0) 100%);
	}
	&:after {
		right: 0;
		left: auto;
		transform: rotate(-180deg);
		background: linear-gradient(90deg, #C29D68 1.53%, rgba(194, 157, 104, 0.95) 36.98%, rgba(194, 157, 104, 0.8) 61.56%, rgba(194, 157, 104, 0) 100%);
	}
}
@keyframes leftRight {
	0% { transform: translateX(-15px); }
	100% { transform: translateX(30px); }
}
.bk-spon-item {
	.item-img {
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.bk-footer1-widget-area {
	z-index: 2;
	padding-top: 88px;
	position: relative;
	background-color: #000000;
}
.bk-footer1-widget-wrap {
	gap: 40px 72px;
	@media #{$xxxl,$xxl,$xl} {
		gap: 40px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 15px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bk-ftr1-menu-widget {
	width: 100%;
	display: flex;
	max-width: 540px;
	justify-content: space-between;
	@media #{$xl} {
		max-width: 400px;
	}
	@media #{$lg} {
		max-width: 380px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
		padding: 30px 0px;
	}
	@media #{$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.bk-ftr1-widget {
	@media #{$md,$sm,$xs,$xxs} {
		width: 100%;
	}
	.widget-title {
		color: #fff;
		font-size: 32px;
		font-weight: 700;
		position: relative;
		margin-bottom: 28px;
		padding-bottom: 14px;
		&:before {
			left: 0;
			bottom: 0;
			width: 72px;
			height: 3px;
			content: '';
			position: absolute;
			background-color: var(--bk-prime-c);
		}
		span {
			position: relative;
			&:before,
			&:after {
				width: 4px;
				height: 3px;
				content: '';
				bottom: -14px;
				position: absolute;
				background-color: #000;
				animation: leftRight 3s linear infinite alternate;
			}
			&:before {
				left: 35px;
			}
			&:after {
				left: 15px;
			}
		}
	}
	.cta-widget {
		width: 100%;
		padding: 40px;
		max-width: 420px;
		margin-top: -195px;
		background-color: #1E1E1E;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			margin-top: 0;
			max-width: 300px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 100%;
		}
		.brand-logo {
			margin-bottom: 48px;
			a {
				margin-bottom: 20px;
			}
			p {
				color: #fff;
			}
		}
		.cta-info {
			gap: 12px;
			margin-bottom: 16px;
			.c-icon {
				width: 36px;
				height: 36px;
				border-radius: 100%;
				border: 1px solid var(--bk-prime-c);
				svg {
					path {
						transition: all 500ms ease-in-out;
					}
				}
			}
			.c-text {
				color: #fff;
			}
			&:hover {
				.c-icon {
					svg {
						path {
							fill: var(--bk-prime-c);
						}
					}
				}
			}
		}
		.cta-item-wrap {
			padding-bottom: 25px;
			border-bottom: 1px dashed rgba(247, 246, 242, .20);
		}
		.cta-social {
			gap: 5px;
			a {
				color: #fff;
				width: 48px;
				height: 48px;
				display: flex;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background-color: #272727;
				&:hover {
					background-color: var(--bk-prime-c);
				}
			}
		}
	}
	.menu-widget {
		li {
			margin-bottom: 15px;
			a {
				color: #F7F6F2;
				&:hover {
					color: var(--bk-prime-c);
					transform: translateX(10px);
				}
			}
		}
	}
	.newslatter-widget {
		width: 100%;
		max-width: 420px;
		margin-top: -88px;
		margin-left: 80px;
		padding: 98px 40px;
		background-color: #1E1E1E;
		border: 1px solid #000000;
		@media #{$xxxl,$xxl,$xl} {
			margin-left: 0;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			margin-top: 0;
			margin-left: 0;
			padding: 50px 20px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 100%;
			width: 100%;
		}
		p {
			padding-bottom: 45px;
			color: rgba(247, 246, 242, .70);
		}
		input {
			width: 100%;
			height: 54px;
			border: none;
			color: #272727;
			margin-bottom: 20px;
			padding-left: 20px;
			background-color: #fff;
			&::placeholder {
				color: #272727;
			}
		}
		button {
			color: #fff;
			height: 54px;
			width: 100%;
			border: none;
			transition: all 300ms ease-in-out;
			background-color: var(--bk-prime-c);
			&:hover {
				background-color: #004040;
			}
		}
	}
}

.bk-ftr-copyright {
	padding: 25px 0px;
	background-color: #004040;
	.copyright-text {
		@media #{$xs,$xxs} {
			gap: 15px;
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
		}
	}
	p {
		color: #fff;
		a {
			text-decoration: underline;
		}
	}
}