@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}
body {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 17px;
	margin: 0 auto;
	line-height: 1.5;
	position: relative;
	overflow-x: hidden;
	color: var(--bk-body-color);
	font-family: var(--bk-body-font);
	background-color: #F7F6F2;     
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; 
	.container {
		max-width: 1584px;
	}
	.row {
		--bs-gutter-x: 32px;
	}
	.mfp-iframe-holder .mfp-close {
		right: 0;
		padding: 0;
		top: -40px;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
	button.mfp-close {
		right: 0;
		padding: 0;
		color: #fff;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
	&:is(.ver_2) {
		.container {
			max-width: 1428px;
		}
	}
	&:is(.ver_3) {
		.container {
			max-width: 1444px;
		}
	}
}
body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	outline: none;
	border-radius: 0px;
	background-size: 200%, 1px;
	background-color: var(--bk-prime-c);
}
.home-2 {
	background-color: #fff;
}
.ul-li ul {
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
	}
}
.ul-li-block ul {
	margin:0;
	padding: 0;
	li{
		display: block;
		list-style: none;
	}
}

.headline h1,
.headline h2,
.headline h3,
.headline h4,
.headline h5,
.headline h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	color: var(--bk-title-color);
	font-family: var(--bk-heading);
}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fillIn {
	to {
		fill: currentColor;
	}
}

@keyframes fadeScale {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 99999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background-color: #fff;
	.preloader-logo {
		left: 0;
		top: 50%;
		right: 0;
		text-align: center;
		position: absolute;
		transform: translateY(-50%);
		svg path {
			stroke: currentColor;
			stroke-width: 2px;
			fill: transparent;
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;
			animation: draw 3s ease infinite, fillIn 1s ease infinite 3s;
		}
		svg path:nth-child(2) {
			animation-delay: 0.7s, 3.7s;
		}

	}
}
.over-hidden,
.split-line {
	overflow: hidden;
} 
.img-cover {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
	}
	video {
		width: 100%;
		height: 100% !important;
		object-fit: cover; 
	}
}
[data-background] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a.active,
select,
select:hover,
select:focus,
select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
a, span {
	display: inline-block;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: none;
	transition: inherit;
}
a {
	color: inherit;
	text-decoration:none;
	transition: 500ms all ease;
	&:hover, &:focus{
		text-decoration: none;
	}
}
.form-control {
	box-shadow: none;
}
.background_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pera-content {
	p {
		margin-bottom: 0;
	}
}
.splitting.animated .char {
	-webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	-webkit-animation-delay: calc(30ms * var(--char-index));
	animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
	width: 10px;
}
.href-underline {
	a {
		width: 100%;
		display: inline !important;
		background-position-y: -1px;
		background-repeat: no-repeat;
		background-size: 0 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
		-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover {
			color: inherit;
			background-size: 100% 100%;
		}
	}
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.tx-tab-btn {
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link {
		border: none;
		padding-top: 0;
		padding-right: 0;
		border-radius: 0;
		margin-bottom: 0;
		cursor: pointer;
		background-color: transparent;
	}
	.nav-tabs {
		border: none;
	}
	.nav {
		display: inherit;
	}
}
.bk-sec-title {
	.subtitle {
		color: #004040;
		margin-left: 8px;
		padding-left: 50px;
		position: relative;
		padding-right: 50px;
		margin-bottom: 12px;
		display: inline-block;
		i {
			top: 6px;
			left: -5px;
			position: absolute;
			border-top: 6px solid transparent;
			border-left: 8px solid #004040;
			border-bottom: 6px solid transparent;
			&:last-child {
				left: auto;
				right: -5px;
				transform: rotate(-180deg);
			}
		}
		&:before,
		&:after {
			left: 0;
			top: 12px;
			width: 40px;
			height: 1px;
			content: '';
			position: absolute;
			background-color: #004040;
		}
		&:after {
			right: 0;
			left: auto;
		}
	}
	.sec_title {
		font-size: 44px;
		font-weight: 600;
		letter-spacing: -1px;
		@media #{$md} {
			font-size: 38px;
		}
		@media #{$sm} {
			font-size: 36px;
		}
		@media #{$xs} {
			font-size: 34px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 28px;
		}
		span {
			opacity: .6;
		}
		&:is(.ver_2) {
			font-size: 48px;
			@media #{$md} {
				font-size: 42px;
			}
			@media #{$sm} {
				font-size: 38px;
			}
			@media #{$xs} {
				font-size: 34px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
			}
		}
		&:is(.ver_3) {
			font-size: 60px;
			@media #{$md} {
				font-size: 55px;
			}
			@media #{$sm} {
				font-size: 50px;
			}
			@media #{$xs} {
				font-size: 45px;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
			@media #{$xxxs} {
				font-size: 34px;
			}
		}
	}
	p {
		margin-top: 16px;	
	}
}

.bk-btn1 {
	a {
		color: #fff;
		font-weight: 500;
		padding: 13px 22px;
		border-radius: 12px;
		background-color: var(--bk-prime-c);
		@media #{$xxs} {
			padding: 10px 20px;
		}
		&:hover {
			background-color: #004040;
		}
	}
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
	display: flex;
}
.bk-scrollup {
	color: #fff;
	width: 50px;
	right: 20px;
	z-index: 5;
	height: 50px;
	bottom: 20px;
	display: none;
	font-size: 16px;
	position: fixed;
	font-weight: 700;
	line-height: 50px;
	border-radius: 10px;
	background: var(--bk-prime-c);
	&:hover {
		color: #fff;
	}
}

/*==========================*/
/*-------------------------*/

.cb-cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	contain: layout style size;
	pointer-events: none;
	will-change: transform;
	-webkit-transition: opacity 0.3s, color 0.4s;
	transition: opacity 0.3s, color 0.4s;
}

.cb-cursor:before {
	content: "";
	position: absolute;
	top: -24px;
	left: -24px;
	display: block;
	width: 48px;
	height: 48px;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	background: var(--bk-prime-c);
	border-radius: 50%;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
	transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, opacity 0.1s;
	transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out;
}

.cb-cursor-text {
	position: absolute;
	top: -18px;
	left: -18px;
	width: 36px;
	height: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: scale(0) rotate(10deg);
	transform: scale(0) rotate(10deg);
	opacity: 0;
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.01em;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
	transition: opacity 0.4s, -webkit-transform 0.3s;
	transition: opacity 0.4s, transform 0.3s;
	transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s;
}

@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion,
	.cb-cursor.-opaque {
		mix-blend-mode: exclusion;
	}
}
@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion:before,
	.cb-cursor.-opaque:before {
		background: white;
	}
}
.cb-cursor.-normal,
.cb-cursor.-text {
	mix-blend-mode: normal;
}

.cb-cursor.-normal:before,
.cb-cursor.-text:before {
	background: var(--bk-prime-c);
}

.cb-cursor.-inverse {
	color: white;
}

.cb-cursor.-visible:before {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cb-cursor.-visible.-active:before {
	-webkit-transform: scale(0.23);
	transform: scale(0.23);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.cb-cursor.-pointer:before {
	-webkit-transform: scale(0.15);
	transform: scale(0.15);
}

.cb-cursor.-text:before {
	opacity: 1;
	-webkit-transform: scale(1.7);
	transform: scale(1.7);
}

.cb-cursor.-text .cb-cursor-text {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.cb-cursor.-text.-active:before {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.cb-cursor.-opaque:before {
	-webkit-transform: scale(1.32);
	transform: scale(1.32);
}

.cb-cursor.-opaque.-active:before {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.cb-cursor.-lg:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cb-cursor.-hidden:before {
	-webkit-transform: scale(0);
	transform: scale(0);
}

// txa-common-css-start

@for $i from 1 through 40 {
	.mt-#{5 * $i}{margin-top: 5px * $i;}
}

@for $i from 1 through 40 {
	.mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.ml-#{5 * $i}{margin-left: 5px * $i;}
}

@for $i from 1 through 40 {
	.mr-#{5 * $i}{margin-right: 5px *$i;}
}

@for $i from 1 through 40 {
	.pt-#{5 * $i}{padding-top: 5px *$i;}
}

@for $i from 1 through 60 {
	.pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.pl-#{5 * $i}{padding-left: 5px *$i;}
}

@for $i from 1 through 40 {
	.pr-#{5 * $i}{padding-right: 5px *$i;}
}