/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Facility area*/
/*----------------------------------------------------*/
@import "home_1/facility";
/*---------------------------------------------------- */


/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */