/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Facility area*/
/*----------------------------------------------------*/
@import "home_1/facility";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*Offer area*/
/*----------------------------------------------------*/
@import "home_1/offer";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_1/price";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_1/testimonial";
/*---------------------------------------------------- */
/*Rooms area*/
/*----------------------------------------------------*/
@import "home_1/rooms";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */


/******* HOME PAGE 2 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_2/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_2/about";
/*---------------------------------------------------- */
/*Rooms area*/
/*----------------------------------------------------*/
@import "home_2/rooms";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_2/service";
/*---------------------------------------------------- */
/*Facility area*/
/*----------------------------------------------------*/
@import "home_2/facility";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_2/team";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_2/testimonial";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_2/blog";
/*---------------------------------------------------- */

/******* HOME PAGE 3 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_3/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_3/about";
/*---------------------------------------------------- */
/*Room area*/
/*----------------------------------------------------*/
@import "home_3/room";
/*---------------------------------------------------- */
/*Facility area*/
/*----------------------------------------------------*/
@import "home_3/facility";
/*---------------------------------------------------- */
/*Food area*/
/*----------------------------------------------------*/
@import "home_3/food";
/*---------------------------------------------------- */
/*Project area*/
/*----------------------------------------------------*/
@import "home_3/project";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_3/testimonial";
/*---------------------------------------------------- */
/*Gallery area*/
/*----------------------------------------------------*/
@import "home_3/gallery";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_3/blog";
/*---------------------------------------------------- */


/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */