.bk-blog2-sec {
	background: linear-gradient(180deg, #F7F6F2 0%, rgba(247, 246, 242, 0) 100%);
}

.bk-blog2-content {
	gap: 24px;
	display: flex;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.bk-blog2-text {
	max-width: 504px;
	.bk-sec-title {
		.sec_title {
			font-size: 80px;
			font-weight: 700;
			@media #{$xl} {
				font-size: 78px;
			}
			@media #{$lg} {
				font-size: 75px;
			}
			@media #{$md} {
				font-size: 70px;
			}
			@media #{$sm} {
				font-size: 65px;
			}
			@media #{$xs} {
				font-size: 55px;
			}
			@media #{$xxs} {
				font-size: 45px;
			}
			@media #{$xxxs} {
				font-size: 35px;
			}
		}
	}
}

.bk-blog2-feed-wrap {
	gap: 24px;
	max-width: 1032px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.bk-blog2-item {
	height: 660px;
	overflow: hidden;
	border-radius: 12px;
	@media #{$xxs} {
		height: 450px;
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		height: 100%;
		position: absolute;
		transform: translateY(100%);
		transition: all 500ms ease-in-out;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
	}
	span {
		top: 32px;
		left: 32px;
		color: #fff;
		opacity: 0;
		font-size: 24px;
		position: absolute;
		transform: translateY(100%);
		transition: all 500ms ease-in-out;
	}
	.blg_title {
		left: 36px;
		color: #fff;
		opacity: 0;
		right: 36px;
		bottom: 36px;
		font-size: 44px;
		font-weight: 600;
		position: absolute;
		transform: translateY(100%);
		transition: all 500ms ease-in-out;
		@media #{$xl} {
			font-size: 40px;
		}
		@media #{$lg} {
			font-size: 36px;
		}
		@media #{$md} {
			font-size: 32px;
		}
		@media #{$sm,$xs,$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 26px;
		}
	}
	&:hover {
		&:before {
			transform: translateY(0%);
		}
		span {
			opacity: 1;
			transform: translateY(0);
		}
		.blg_title {
			opacity: 1;
			transform: translateY(0);
		}
	}
}