.bk-hero2-sec {
	z-index: 1;
	.bk-hero2-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		clip-path: polygon( 100% 0%,0% 0%,0% 86.77%,0.026% 86.82%,0.026% 86.82%,7.353% 90.331%,14.047% 93.132%,20.149% 95.306%,25.699% 96.936%,30.739% 98.107%,35.308% 98.902%,39.447% 99.405%,43.196% 99.699%,46.596% 99.87%,49.688% 99.999%,49.688% 99.999%,56.561% 99.769%,63.139% 99.075%,69.378% 98.001%,75.236% 96.63%,80.671% 95.044%,85.639% 93.328%,90.098% 91.565%,94.007% 89.836%,97.321% 88.227%,100% 86.82%,100% 0% );
		@media #{$xxs} {
			clip-path: none;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			content: '';
			height: 100%;
			position: absolute;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.36) 100%);
		}
	}
}
.bk-hero2-text {
	margin: 0 auto;
	max-width: 950px;
	padding: 330px 0px;
	@media #{$md,$sm} {
		padding: 250px 0px;
	}
	@media #{$xs,$xxs} {
		padding: 200px 0px 100px;
	}
	@media #{$xxs} {
		padding: 160px 0px 100px;
	}
	.hero-slug {
		color: #fff;
		line-height: 1;
		font-weight: 600;
		padding-left: 50px;
		position: relative;
		padding-right: 50px;
		display: inline-block;
		i {
			top: 3px;
			left: -5px;
			position: absolute;
			border-top: 6px solid transparent;
			border-left: 8px solid #fff;
			border-bottom: 6px solid transparent;
			&:last-child {
				left: auto;
				right: -5px;
				transform: rotate(-180deg);
			}
		}
		&:before,
		&:after {
			left: 0;
			top: 8px;
			width: 40px;
			height: 1px;
			content: '';
			position: absolute;
			background-color: #fff;
		}
		&:after {
			right: 0;
			left: auto;
		}
	}
	.hero_title {
		color: #fff;
		line-height: 1;
		font-size: 110px;
		font-weight: 700;
		padding-top: 18px;
		letter-spacing: -2px;
		padding-bottom: 45px;
		.split-line {
			overflow: visible;
		}
		@media #{$sm} {
			font-size: 65px;
		}
		@media #{$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 40px;
			padding-bottom: 25px;
		}
		@media #{$xxxs} {
			font-size: 36px;
		}
	}
	.btn-wrap {
		gap: 12px;
		a {
			color: #fff;
			font-weight: 500;
			padding: 12px 22px;
			border-radius: 35px;
			border: 1px solid #fff;
			@media #{$xxs} {
				padding: 10px 20px;
			}
			&:last-child {
				color: #fff;
				background-color: var(--bk-prime-c);
				border: 1px solid var(--bk-prime-c);
			}
			&:hover {
				color: #000;
				background-color: #fff;
				border: 1px solid #fff;
			}
		}
	}
}