.bk-team-sec {
	background-color: #F7F6F2;
}
.bk-team-top {
	gap: 20px;
	.bk-sec-title {
		max-width: 600px;
	}
	.item-desc {
		max-width: 375px;
	}
}

.bk-team-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media #{$md,$sm} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr ;
	}
}

.bk-team-item {
	padding: 8px;
	margin: 0 auto;
	max-width: 372px;
	border-radius: 12px;
	background-color: #fff;
	.inner-img {
		height: 340px;
		overflow: hidden;
		border-radius: 8px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.inner-social {
		bottom: 6px;
		right: 12px;
		position: absolute;
		a,span {
			width: 48px;
			height: 48px;
			display: flex;
			margin-bottom: 6px;
			border-radius: 12px;
			align-items: center;
			background-color: #fff;
			justify-content: center;
			color: var(--bk-prime-c);
			transition: all 300ms ease-in-out;
		}
		a {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
			&:hover {
				color: #fff;
				background-color: var(--bk-prime-c);
			}
		}
	}
	.item-text {
		padding: 16px;
		h3 {
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 5px;
			&:hover {
				letter-spacing: 1px;
				color: var(--bk-prime-c);
			}
		}
		span {
			opacity: .8;
		}
	}
	&:hover {
		.inner-img {
			img {
				transform: scale(1.1);
			}
		}
		.inner-social {
			span {
				color: #fff;
				background-color: var(--bk-prime-c);
			}
			a {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				&:nth-child(1) {
					transition-delay: 100ms;
				}
				&:nth-child(2) {
					transition-delay: 200ms;
				}

				&:nth-child(3) {
					transition-delay: 300ms;
				}
				&:nth-child(4) {
					transition-delay: 400ms;
				}
			}
		}
	}
}